site_name: OSC-EM
site_url: https://osc-em.github.io
site_author: OSC-EM
repo_url: https://github.com/osc-em
repo_name: GitHub

theme:
  logo: assets/img/oscem_icon.svg
  favicon: assets/img/oscem_icon.svg
  name: material
  palette:
    primary: grey
    accent: cyan
  features:
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - toc:
      permalink: true

plugins:
  - search
